---
import Container from "../ui/Container.astro";
import Card from "../ui/Card.astro";
import Button from "../ui/Button.astro";
import { projects } from "../../data/projects";

const posts = projects.slice(0, 6);
---

<section class="py-32">
  <Container>
    <div class="mb-8 md:mb-14 lg:mb-16">
      <div class="flex items-start justify-between gap-8">
        <div>
          <h2
            class="mb-4 w-full text-4xl font-medium md:mb-5 md:text-5xl lg:mb-6 lg:text-6xl"
          >
            Naše realizace
          </h2>
          <p class="text-muted-foreground max-w-2xl">
            Podívejte se na naše dokončené projekty a přesvědčte se o kvalitě
            naší práce. Od základů po střechu - každý detail má svůj význam.
          </p>
        </div>
      </div>
    </div>

    <div
      class="grid gap-x-4 gap-y-8 md:grid-cols-2 lg:gap-x-6 lg:gap-y-12 2xl:grid-cols-3"
    >
      {
        posts.map((post) => (
          <Card
            title={post.title}
            description={post.description}
            image={post.image}
            href={post.href}
            author={post.author}
            date={post.date}
            class="animate-fade-in-up"
          />
        ))
      }
    </div>

    <div class="mt-8 flex flex-col items-center py-2 md:mt-12">
      <Button variant="primary" size="lg" href="/realizace">
        Zobrazit všechny realizace
      </Button>
    </div>
  </Container>
</section>
